body{
    color:#333;
    font-family: Verdana, sans-serif;
    margin: 0;
}

header {
    background-color: #efefef;
    padding-top: 32px;
    padding-bottom:32px;

}

.container{
    display: flex;
}
.icon img{
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: white;
}

.info{
    margin-left:30px;
}

.info h1{
        font-weight: normal;
        font-size: 24px;
        margin: 0;

    }